body {
  background-color: #000;
}

#canvas {
  position: absolute;
  top: 10rem;
  left: 10px;
  z-index: 1;
}

#video {
  position: absolute;
  top: 10rem;
  left: 10px;
  z-index: -1;
  border: 3px #fff solid;
  border-radius: 10px;
}

.flipped {
  display: none;
}

button {
  width: "10rem";
  height: "10rem";
  cursor: pointer;
}

.new {
  width: 10rem;
  height: 10rem;
}
